services:
  - type: web
    name: CrazylearnerBot
    env: python
    pythonVersion: 3.11
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
